<header class="header-desktop">

                        <div class="account-item " style="position: absolute; right: 15px; top: 20%;">

                            <div class="content">
                                <a class="" href='#'><%= user.local.email %></a>
                            </div>
                            
                        </div>

</header>