<!DOCTYPE html>
<html lang="en">

<% include ../public/partials/head %>
    <body class="animsition">
        <div class="page-wrapper">
            <% include ../public/partials/mobile-header %>
            <% include ../public/partials/sidebar %>

            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <!-- HEADER DESKTOP-->
                <% include ../public/partials/desktop-header %>
                <!-- HEADER DESKTOP-->

                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1">Survey App Analytics</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-25">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="overview-item overview-item--c1">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-account-o"></i>
                                                </div>
                                                <div class="text">
                                                    <h2 id="registered-accounts-total">0</h2>
                                                    <span>Registered Accounts</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="overview-item overview-item--c2">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-smartphone"></i>
                                                </div>
                                                <div class="text">
                                                    <h2 id="logins-total">0</h2>
                                                    <span>Total Logins</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="overview-item overview-item--c3">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-calendar-note"></i>
                                                </div>
                                                <div class="text">
                                                    <h2 id="surveys-total">0</h2>
                                                    <span>Total Surveys</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="au-card m-b-30">
                                        <div class="au-card-inner">
                                            <h3 class="title-2 m-b-40">Cumulative Usage By Day of Week</h3>
                                                <canvas id="barChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="au-card m-b-30 p-0">
                                            <ul class="nav nav-tabs " id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Surveys Completed</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Total Logins</a>
                                                </li>
                                            </ul>
                                            <div class = "p-l-40 p-r-35">
                                            <div class="tab-content pl-3 p-1" id="myTabContent">
                                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                                        <div class="row no-gutters">
                                                                            <div class="col-xl-6">
                                                                                <div class="chart-note-wrap">
                                                                                    <div class="chart-note mr-0 d-block">
                                                                                        <span class="dot dot--blue"></span>
                                                                                        <span>Male</span>
                                                                                    </div>
                                                                                    <div class="chart-note mr-0 d-block">
                                                                                        <span class="dot dot--red"></span>
                                                                                        <span>Female</span>
                                                                                    </div>
                                                                                    <div class="chart-note mr-0 d-block">
                                                                                            <span class="dot dot--green"></span>
                                                                                            <span>Non-Binary</span>
                                                                                    </div>                                               
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xl-6">
                                                                                <div class="percent-chart">
                                                                                    <canvas id="percent-chart-surveys" style="width: 95%; max-width: 400px;"></canvas>
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                </div>
                                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                                            <div class="row no-gutters">
                                                                                    <div class="col-xl-6">
                                                                                        <div class="chart-note-wrap">
                                                                                                <div class="chart-note mr-0 d-block">
                                                                                                        <span class="dot dot--blue"></span>
                                                                                                        <span>Male</span>
                                                                                                    </div>
                                                                                                    <div class="chart-note mr-0 d-block">
                                                                                                        <span class="dot dot--red"></span>
                                                                                                        <span>Female</span>
                                                                                                    </div>
                                                                                                    <div class="chart-note mr-0 d-block">
                                                                                                            <span class="dot dot--green"></span>
                                                                                                            <span>Non-Binary</span>
                                                                                                    </div> 
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xl-6">
                                                                                            <div class="percent-chart">
                                                                                                    <canvas style="width: 95%; max-width: 400px;" id="percent-chart-logins"></canvas>
                                                                                                </div>
                                                                                    </div>
                                                    </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="au-card m-b-30 w-100">
                                            <h3 class="title-2 m-b-40">Age Analytics</h3>
                                            <canvas class="w-100"id="sales-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="copyright">
                                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MAIN CONTENT-->
                <!-- END PAGE CONTAINER-->
            </div>

        </div>



    </body>


    <% include ../public/partials/script-includes %>

    <script>
        var socket = io()
        
        socket.emit('requestTopData')

        socket.on('topData', (topLevelData) => {
                $('#surveys-total').text(topLevelData['1']['surveys']);
                $('#logins-total').text(topLevelData['1']['logins']);
                $('#registered-accounts-total').text(topLevelData['1']['users']);
        })
    </script>
</html>
<!-- end document-->
