<!DOCTYPE html>
<html lang="en">
    
<% include ../public/partials/head %>
    <body class="animsition">
        <div class="page-wrapper">
            <!-- HEADER MOBILE-->
            <% include ../public/partials/mobile-header %>
            <% include ../public/partials/sidebar %>

            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <% include ../public/partials/desktop-header %>

                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <!-- MAP DATA-->
                                    <div style="position: relative; height: 450px">
                                        <div id="map" class="mx-auto" style="position: absolute; left: 0px; right: 100px; width: 70%; height: 400px;"></div>
                                        <div id="hover-state" style="position: absolute; width: 30%; top: 30%; right: 0px;">
                                            <h4 id="state-title" style="min-height: 2rem"></h4>
                                            <ul>
                                                <li id="num-users">
                                                <li id="num-surveys">
                                                <li id="num-logins">
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <!-- END MAP DATA-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="copyright">
                                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Jquery JS-->
        <script src="vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="vendor/slick/slick.min.js">
        </script>
        <script src="vendor/wow/wow.min.js"></script>
        <script src="vendor/animsition/animsition.min.js"></script>
        <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="vendor/circle-progress/circle-progress.min.js"></script>
        <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="vendor/select2/select2.min.js">
        </script>


        <script src="vendor/us-map/lib/raphael.js"></script>
        <script src="vendor/us-map/jquery.usmap.js"></script>

        <script src="socket.io/socket.io.js"></script>

        <!-- Main JS-->
        <script src="js/main.js"></script>
        <script>
            function heatMapColorforValue(value){
                return "rgba(0, 0, 255, "+value+")";
            }


            function stateDataToHeatMap(states){
                var totalUsersInEachState = {}
                var maxVal = 0.0
                for (var state in states){
                    maxVal = Math.max(maxVal, (states[state]['surveys']))                    
                }
                for (var state in states){
                    var color = heatMapColorforValue(states[state]['surveys']*1.0/maxVal)
                    totalUsersInEachState[state] = {fill: color}                  
                }

                return totalUsersInEachState
            }

            var socket = io()
            socket.emit('requestMapData')

            socket.on('mapData', (statesJSON) => {
                $('#map').usmap({
                    'stateSpecificStyles': stateDataToHeatMap(statesJSON),
                    mouseover: 
                        function(event, data) {
                            $('#state-title')
                            .text('Data for '+data.name);
                            var users = (statesJSON[data.name] == null) ? "No Data" : statesJSON[data.name]['users']
                            var logins = (statesJSON[data.name] == null) ? "No Data" : statesJSON[data.name]['logins']
                            var surveys = (statesJSON[data.name] == null) ? "No Data" : statesJSON[data.name]['surveys']

                            $('#num-users')
                            .text('Total Users: '+ users)
                            $('#num-surveys')
                            .text('Surveys Taken: '+ surveys)
                            $('#num-logins')
                            .text('Total Logins: '+ logins)
                        }
                })
            })
        </script>
    </body>
</html>
<!-- end document-->
